@import url("rd.css");

/* Movies */
table.movies { 
  width: 100%; 
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  margin-left: 1px;
}
table.movies tr td { 
  border: 1px solid black; 
  text-align: left; 
  vertical-align: top; 
  padding-left: 10px;
  font-size: 100%;
  letter-spacing: 0.04em;
  width: 90%;
}
table.movies tr td.right {
  text-align: right; 
  vertical-align: top; 
  padding-right: 10px;
  width: 10%;
}


table.movies-outer {
  width: 20%;
  border-collapse: collapse;
  margin-bottom: 40px;
  border: 1px solid black;
}
table.movies-outer tr td.title {
  font-weight: bold;
  letter-spacing: 0.3em; 
  border: 1px solid black;
}
table.movies-outer tr td {
  vertical-align: top;
  border-right: 0;
}
table.movies-outer tr td.first {
  border: 1px solid black;
  border-right: 0;
  border-bottom: 0;
}

#alphabet { text-align: left; text-decoration: none; }
#alphabet ul li { 
  padding: 0;
  margin: 0;
  display: inline;
  list-style-type: none;
  padding-left: 4px;
  padding-right: 4px;
  text-decoration: none;
}
#alphabet ul li a, #alphabet ul li a:active, #alphabet ul li a:visited { 
  color: rgb(50,150,255); 
  background-color: rgb(255,255,240); 
  text-decoration: none; 
  padding: 3px 4px 3px 4px;
  display: inline;
}
#alphabet ul li a:hover { 
  color: rgb(50,120,255); 
  background-color: rgb(255,255,235); 
  padding: 2px 3px 2px 3px;
  border: 1px solid rgb(190,240,255);
}


div.index { text-align: left; }
div.index ul, div.index ul li { padding: 0; margin: 0; }
div.index ul li a, div.index ul li a:active, div.index ul li a:visited { 
  color: rgb(50,150,255); 
  background-color: rgb(255,255,240); 
  text-decoration: none; 
  padding: 3px 3px 3px 3px;
  display: block;
}
div.index ul li a:hover { 
  color: rgb(50,120,255); 
  background-color: rgb(255,255,235); 
  padding: 2px 2px 2px 2px;
  border: 1px solid rgb(190,240,255);
}
div.index ul li strong {
  font-size: 150%;
  font-weight: bold;
}
div.index ul li a.top {
  display: inline;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: rgb(140,0,60); 
  background-color: rgb(255,255,235);
  cursor: pointer;
  padding: 10px 18px;
  width: 100%;
  border: 1px solid rgb(190,240,255);
  outline: none;
  font-size: 25px;
  text-align: center;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  color: rgb(140,0,60); 
  background-color: rgb(255,255,240); 
}

/* Style the collapsible content. Note: hidden by default */
.index {
  background-color: rgb(255,255,240); 
  padding-left: 10px;
  display: none;
  overflow: hidden;
}

.collapsible:after {
  content: '\02795';
  float: right;
  font-size: 13px;
  color: rgb(140,0,60); 
  margin-left: 5px;
}
.collapsible:before {
  content: '\02795';
  float: left;
  font-size: 13px;
  color: rgb(140,0,60); 
  margin-right: 5px;
}

.active:after { content: "\2796"; color: rgb(140,0,60); }
.active:before { content: "\2796"; color: rgb(140,0,60); }
